.title {
    font-size: 2.2rem;
}

.title2 {
    font-size: 1.3rem;
    font-weight: bold;
}

.desc {
    color: #000;
}




/* 业余组 */
.amateur {
    background: #fff;
    padding:1rem;
}
.amateur p{
   
}
.title3 {
    background: #cbdbf0;
    padding: 1rem 0;
    text-align: center;
    color: #587b93;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0;
}

.amateur .title2{
    color: #587b93;
    padding: 1rem 0;
    /* background: #fff; */
    margin-bottom: 0;

}