.container-sm {
    padding-left: 0;
    padding-right: 0;

}

@media (min-width: 1200px) {
    .container-sm {
        max-width: 900px;
        background: #fff;
    }
}

.breadcrumb {
    background-color: #f5f5f0;
}

a{
    #3887dc
}